# Homework # 1 - Pandas - Hung Quoc Tran ID 23856431

### Import libraries

In [20]:
import pandas as pd

### Review data directory, review data file cars.csv

In [21]:
! pwd

/Users/rictq/Documents/CIS_3920_Homework

In [22]:
! ls

HW1_Pandas.ipynb HW2_LinReg.ipynb Lectures         data

In [23]:
! head 'data/cars.csv'

### From data directory, read file cars.csv into a dataframe

In [24]:
df = pd.read_csv('data/cars.csv')

### Examine data

#### Review first 10 rows

In [25]:
df.head(10)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
5,Ford Galaxie 500,15.0,8,429.0,198,4341,10.0,70,US
6,Chevrolet Impala,14.0,8,454.0,220,4354,9.0,70,US
7,Plymouth Fury iii,14.0,8,440.0,215,4312,8.5,70,US
8,Pontiac Catalina,14.0,8,455.0,225,4425,10.0,70,US
9,AMC Ambassador DPL,15.0,8,390.0,190,3850,8.5,70,US

### Count the number of cars

In [36]:
df['Car'].value_counts()

Toyota Corolla       9
Ford Pinto           6
AMC Matador          5
Volkswagen Rabbit    5
Ford Maverick        5
                    ..
AMC Pacer d/l        1
Datsun B-210         1
Peugeot 304          1
AMC Pacer            1
Ford Futura          1
Name: Car, Length: 308, dtype: int64

### Count the number of cars by Cylinders

In [27]:
df.groupby('Cylinders').count()[['Car']]
#df.groupby('Cylinders').size()

           Car
Cylinders
3            4
4          207
5            3
6           84
8          108

### Count the number of cars by Origin

In [28]:
df.groupby('Origin').count()[['Car']]
#df.groupby('Origin').size()

        Car
Origin
Europe   73
Japan    79
US      254

### Calculate the average Horsepower of cars by Cylinders

In [31]:
df.groupby('Cylinders').mean()[['Horsepower']]

           Horsepower
Cylinders
3           99.250000
4           76.574879
5           82.333333
6          100.297619
8          158.453704

### Calculate the maximum MPG by Origin

In [32]:
df.groupby('Origin').max()[['MPG']]

         MPG
Origin
Europe  44.3
Japan   46.6
US      39.0